Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

Your final report should include each of the following:

In [10]:
# import modules
import pandas as pd
import os

# Defind variables
heros_file_path = os.path.join('../..', 'Homework', 'HeroesOfPymoli', 'Resources', 'purchase_data.csv')

# read_csv
heros_df = pd.read_csv(heros_file_path)

In [12]:
## Take a look at the dataset
heros_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
heros_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB

In [15]:
heros_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [16]:
heros_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

### Player Count

* Total Number of Players

### Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [29]:
# Total Number of Players
total_num_player = len(heros_df['SN'].unique())
print('Total Number of Players: ' + str(total_num_player))

# Number of Unique Items
total_unique_items = len(heros_df['Item Name'].unique())
print('Number of Unique Items: ' + str(total_unique_items))

# Total Number of Purchases
total_num_purchases = len(heros_df['Purchase ID'])
print('Total Number of Purchases: ' + str(total_num_purchases))

# Total Revenue
total_revenue = heros_df['Price'].sum()
print('Total Revenue: ' + str(total_revenue))

Total Number of Players: 576
Number of Unique Items: 179
Total Number of Purchases: 780
Total Revenue: 2379.77

### Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [71]:
# Subsetting original DataFrame to only SN and Gender
user_gender_df = heros_df[['SN', 'Gender']].copy()

# Find out whether there are duplicates data
## Combine SN and Gender data
user_gender_df['SN_Gender'] = user_gender_df['SN'] + user_gender_df['Gender']

## Drop Duplicates based on SN/Gender Combo
user_gender_df = user_gender_df.drop_duplicates('SN_Gender')

## Test whether there are still dup SNs
unique_sn = len(user_gender_df['SN'].unique())
print("No more duplicate users: " + str(unique_sn == user_gender_df.shape[0]))

# Group data by Gender
gender_df = user_gender_df.groupby('Gender').count()

## Calcuate Percentage
gender_df['Gender_pct'] = gender_df['SN'] / total_num_player

# Print Output
for index, row in gender_df.iterrows():
    print(f"Percentage and Count of {index} Players: " + str(round(row['Gender_pct'] * 100, 2)) + '%')

No more duplicate users: True
Percentage and Count of Female Players: 14.06%
Percentage and Count of Male Players: 84.03%
Percentage and Count of Other / Non-Disclosed Players: 1.91%

### Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

In [ ]:
# Subsetting original DataFrame to only SN and Gender
user_gender_df = heros_df[['SN', 'Gender']].copy()